@{ 
    ViewBag.Title = "About Us";
}

<div class="d-flex flex-justify-center-sm">
    <h3>Who is GCU IxT? What do they do?</h3>
</div>
<div class="d-flex flex-row-sm">
    <div class="cell-md=3 d-none d-block-md">
        <img class="border bd-light shadow-21" src="~/Images/image00001.PNG" />
    </div>
</div>
<div class="d-flex flex-row-r">
    <div class="p-3-sm mw-50-lg">
        <p>
            GCU Information x Technology club (GCU IxT)  is the official club of College of Technology.
            IxT’s mission is to celebrate and promote interest and innovation in every field of technology.
            Our goal is to cultivate an environment for like-minded students to pursue their interests and share their passions by engaging with others in projects,
            learning, and community. We work with different organizations such as Black Hat, DEFCON, Girls Who Code, ISACA, Cactus Con and many more.
            We aim to prepare students for highly successful careers in the technology industry by supplying opportunities to gain industry connections
            and leadership experience. We encourage technological innovation and work to expose our members to diverse disciplines.
            Additionally, we strive to use our knowledge to provide excellent service within our local community.
        </p>
    </div>
</div>

