@{ 
    ViewBag.Title = "About Us";
}

    <div class="grid">
        <div class="row flex-align-start flex-justify-center">
            <div class="cell-6 flex-align-center">
                <h2 class="text-center">Who is GCU IxT?</h2>
            </div>
        </div>
        <div class="row flex-justify-center">
            <div class="cell-8">
                <p class="text-center">
                    GCU Information x Technology club (GCU IxT)  is the official club of College of Technology.
                    IxT’s mission is to celebrate and promote interest and innovation in every field of technology.
                    Our goal is to cultivate an environment for like-minded students to pursue their interests and share their passions by engaging with others in projects,
                    learning, and community.
                </p>
            </div>
            <div class="cell-4 d-none d-block-md">
                <img class="border bd-light shadow-21 mh-75 mw-75" src="~/Images/image00005.jpg" />
            </div>
        </div>
        <div class="row flex-align-end flex-justify-center">
            <div class="cell-8">
                <h2 class="text-center">What do they do?</h2>
            </div>
        </div>
        <div class="row">
            <div class="cell-4 d-none d-block-md">
                <img class="border bd-light shadow-21 mh-100 mw-100" src="~/Images/image00004.jpg" />
            </div>
            <div class="cell-8">
                <p class="text-center">
                    We work with different organizations such as Black Hat, DEFCON, Girls Who Code, ISACA, Cactus Con and many more.
                    We aim to prepare students for highly successful careers in the technology industry by supplying opportunities to gain industry connections
                    and leadership experience. We encourage technological innovation and work to expose our members to diverse disciplines.
                    Additionally, we strive to use our knowledge to provide excellent service within our local community.
                </p>
            </div>
        </div>
    </div>


