@{ 
    ViewBag.Title = "Home";
}
<div class="grid">
    <!-- Row to contain all contents of the page, aligns side bar to the left.-->
    <div class="row m-0 h-100">

        <!--Side bar -->
        <div class="cell-2 py-0">
            <ul class="sidebar-menu border-right bd-black">
                <li class="group-title">Contact Us</li>
                <li class="divider"></li>
                <li class="my-4"><span class="mif-phone"></span> (480) 331-2368</li>
                <li class="my-4">
                    <span class="mif-automobile"></span> <small>3300 W Camelback Rd</small> <br />
                    <small class="ml-5">Phoenix, Arizona 85017</small>
                </li>
                <li class="group-title">Social Media</li>
                <li class="divider"></li>
                <li><a href="https://www.facebook.com/GCUIxT/"><span class="mif-facebook2"></span> Facebook</a></li>
            </ul>
        </div>

        <!-- Page Contents -->
        <div class="cell-10 flex-align-end">

            <!-- Detail Row -->
            <div class="row m-0">
                <div class="cell-12">
                    <h1>GCU IxT</h1>
                </div>
            </div>
            <hr />

            <!-- Information about GCU IxT-->
            <div class="row m-0">
                <div class="cell-4">
                    <img class="mh-100 mw-100" src="~/Images/image00001.jpg" />
                </div>
                <div class="cell-8">
                    <div class="text-center">
                        <p>GCU IxT participates in and has a number of events that take place throughout
                           the year. We want to share those events with you so you may join us in our endeavor to
                           better ourselves and our community.</p>
                    </div>
                </div>
            </div>

            <!-- Detail Row -->
            <div class="row mt-10">
                <div class="text-right cell-12">
                    <h2>Big Events</h2>
                </div>
            </div>
            <hr />

            <!-- Big Event details-->
            <!-- Black Hat and Def Con -->
            <div class="row m-0">
                <div class="cell-4">
                    <img class="h-100 w-100" src="~/Images/image00006.jpg" />
                </div>
                <div class="cell-8">
                    <div class="text-center">
                        <p><strong>Black Hat & Def Con</strong> Interest Meeting</p>
                    </div>
                    <div class="text-left">
                        <p><b>Where:</b> IxT Meeting</p><br />
                        <p><b>When:</b> March 24<sup>th</sup> 5-7:00 PM</p><br />
                        <p>
                            <b>Description:</b> During the meeting we will be going over how to join us on our trip to the Black Hat and
                            Def Con conventions. Join us to find out more about how you can be apart of this amazing
                            opportunity.
                        </p>
                    </div>
                </div>
            </div>



            <!-- Detail Row-->
            <div class="row mt-10">
                <div class="cell-12">
                    <h2>Recuring Events</h2>
                </div>
            </div>
            <hr />

            <!-- Information on Recuring Events -->
            <div class="row m-0">
                <table class="mb-5">
                    <tr>
                        <th class="text-left w-25 border-bottom bd-black">Event</th>
                        <th class="text-left w-50 border-bottom bd-black">Where</th>
                        <th class="text-left w-25 border-bottom bd-black">When</th>
                    </tr>
                    <tr>
                        <td class="border-dotted border-bottom bd-black">IxT Meeting</td>
                        <td class="border-dotted border-bottom bd-black">Building 57 GCU Campus. Contact us for room number</td>
                        <td class="border-dotted border-bottom bd-black">Tuesdays and Wednesdays at 5-7:00 PM</td>
                    </tr>
                    <tr>
                        <td class="border-dotted border-bottom bd-black">Alhambra HS Girls Who Code</td>
                        <td class="border-dotted border-bottom bd-black">Information at club meetings</td>
                        <td class="border-dotted border-bottom bd-black">Information at club meetings</td>
                    </tr>
                    <tr>
                        <td>ISACA</td>
                        <td>Building 60 GCU Campus. Conference room</td>
                        <td>Mondays at 4-6:00 PM</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
